#include "fingermap.h"

/ { 
behaviors { // -----------------------------------------------------------------------------------------------
        hml: home_row_mod_l { 		hold-trigger-key-positions = <  >; 		};
		hmr: home_row_mod_r { 		hold-trigger-key-positions = <  >; 	 }; };
// -----------------------------------------------------------------------------------------------------------

keymap { compatible = "zmk,keymap";
		zero 	{ display-name = "base"; // -------------------
			bindings = < &tabmt 0 TAB  	&mage_a_tap 0 0	&mage_e_tap 0 0	&kp C  			&kp G 					&kp K 	&kp T 		&kp H 		&s_tap 0 S	&tabmt 0 TAB
                         &mage_i  		&mage_o_tap 0 0	&u_tap 0 U 		&mage_tap 0 0  	&kp W 					&kp M  	&kp D  		&kp L   	&f_tap 0 F 	&kp N 
						 &y_tap 0 Y 	&sk LGUI		&sk LALT  		&sk LCTRL  		&lt 2 SPACE 			&lt 1 R &sk RCTRL 	&sk LALT	&sk RGUI	&kp B >;
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; };
		one 	{ display-name = "sym"; // --------------------
			bindings = < &tabmt 0 TAB 		&amt LS(N7) N3 		&amt EQUAL N2 		&amt SEMI N1 			&amt BSLH FSLH 					&amt PIPE GRAVE &amt COLON N5 		&amt LS(N8) N6 			&amt LS(N1) N7 			&tabmt 0 TAB
                     	 &amt LS(MINUS) N4 	&amt LS(N3) LS(N5) 	&XXleftmt DQT DQT 	&Xspacemt COMMA COMMA	&amt LS(EQUAL) MINUS 			&amt LS(N4) N9 	&Xspacemt DOT DOT 	&XXleftmt APOS APOS 	&amt LS(DOT) LS(COMMA) 	&amt LS(FSLH) N8
                     	 &none 				&none 				&none 				&kp SPACE 				&kp N0  						&kp SPACE		&none 				&none 					&none 					&none >; 
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp RIGHT LEFT >; };
		two 	{ display-name = "nav"; // ------------------
			bindings = < &bapp	 	&kp C_MUTE 	&kp C_PP 	&kp C_NEXT 	&none 			&none 		&kp LEFT 	&kp UP 	&kp DOWN 	&bapp
                     	 &kp C_PREV &none 		&kp LEFT	&kp RIGHT	&none 			&none 		&kp HOME	&kp END	&none 		&kp RIGHT
                     	 &none 		&none 		&none 		&none 		&none 			&kp PSCRN 	&none 		&none 	&none 		&none >; 
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; };
		three 	{ display-name = "fkey"; // -------------------
			bindings = < &none 	&kp F3 	&kp F2 	&kp F1 	&none  	&none 	&kp F5 	&kp F6 	&kp F7 	&none
                         &kp F4 &none 	&none 	&none 	&kp F10 &kp F9 	&none 	&none 	&none 	&kp F8
                         &none 	&none 	&none 	&none 	&kp F11 &kp F12	&none 	&none 	&none 	&none >;
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; };
		four 	{ display-name = "qwer"; // ----------------------
			bindings = < &kp F	 	&kp W 	&kp E 	&kp R 		&kp T 						&kp F	 	&kp W 	&kp E 	&kp R 		&kp T 
                     	 &kp Q 		&kp S	&kp D 	&kp F 		&gameXmt K G 				&kp Q 		&kp S	&kp D 	&kp F 		&gameXmt K G
                     	 &kp LCTRL 	&none 	&none 	&kp LALT 	&gameXmt LCTRL SPACE		&kp LCTRL 	&none 	&none 	&kp LALT 	&gameXmt LCTRL SPACE >; 
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; };
		five 	{ display-name = "fg"; // -----------------
			bindings = < &kp TAB 	&socd A 	&socd2 W 	&socd D 	&kp R 			&none &none &none &none &none 
						 &kp LSHIFT &none 		&socd2 S	&none 		&kp F 			&none &none &none &none &none
						 &kp N5		&kp N4 		&none 		&kp N1 		&kp SPACE		&none &none &none &none &none >; 
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; };
		six 	{ display-name = "fps"; // ------------------------
			bindings = < &kp F 			&socd A			&socd2 W		&socd D			&gameXmt T R 					&kp F 			&socd A			&socd2 W		&socd D			&gameXmt T R
                    	 &kp LCTRL 		&gameXmt Z Q 	&socd2 S		&gameXmt C E 	&gameXmt V G 					&kp LCTRL 		&gameXmt Z Q 	&socd2 S		&gameXmt C E 	&gameXmt V G
                    	 &gameXmt K H	&gameXmt I J	&gameXmt L M	&kp X 			&kp SPACE 						&gameXmt K H	&gameXmt I J	&gameXmt L M	&kp X 			&kp SPACE >; 
            sensor-bindings = < &inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LEFT RIGHT >; }; };

combos { compatible = "zmk,combos";
        // alphas ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_x 				{ timeout-ms = <40>; 	key-positions = < 1 11		>; 	bindings = <	&kp X				>;	layers = <	0		>; 	};
		cbo_q 				{ timeout-ms = <40>; 	key-positions = < 2 12		>; 	bindings = <	&kp Q				>;	layers = <	0		>; 	};
		cbo_p 				{ timeout-ms = <40>; 	key-positions = < 4 14		>; 	bindings = <	&p_tap 0 P			>; 	layers = <	0		>; 	};
		cbo_z 				{ timeout-ms = <40>; 	key-positions = < 5 15		>; 	bindings = <	&kp Z				>;	layers = <	0		>; 	};
		cbo_j 				{ timeout-ms = <40>; 	key-positions = < 7 17		>; 	bindings = <	&kp J				>;	layers = <	0		>; 	};
		cbo_v 				{ timeout-ms = <40>; 	key-positions = < 8 18		>; 	bindings = <	&kp V				>;	layers = <	0		>; 	};
		// symbols ---------------------------------------------------------------------------------------------------------------------------------------
		u_cbo_left 			{ timeout-ms = <25>; 	key-positions = < 10 6		>; 	bindings = <	&uc 0x2190 0x2190	>; 	layers = <	1		>;	};
		u_cbo_up 			{ timeout-ms = <25>; 	key-positions = < 2 7		>;	bindings = <	&uc 0x2191 0x2191	>; 	layers = <	1		>;	};
		u_cbo_down 			{ timeout-ms = <25>; 	key-positions = < 1 8		>; 	bindings = <	&uc 0x2193 0x2193	>; 	layers = <	1		>;	};
		u_cbo_right 		{ timeout-ms = <25>; 	key-positions = < 3 19		>; 	bindings = <	&uc 0x2192 0x2192	>;	layers = <	1		>;	};

		cbo_at_caret		{ timeout-ms = <40>; 	key-positions = < 2 12		>; 	bindings = <	&amt LS(N6) LS(N2)	>;	layers = <	1		>; 	};
		cbo_tilde			{ timeout-ms = <40>; 	key-positions = < 4 14		>; 	bindings = <	&kp LS(GRAVE)		>; 	layers = <	1		>; 	};
		cbo_parentheses		{ timeout-ms = <40>; 	key-positions = < 7 17		>; 	bindings = <	&amt RPAR LPAR		>;	layers = <	1		>; 	};
		cbo_curlies			{ timeout-ms = <40>; 	key-positions = < 8 18		>; 	bindings = <	&amt RBRC LBRC 		>;	layers = <	1		>; 	};
		cbo_squares			{ timeout-ms = <40>; 	key-positions = < 5 15		>; 	bindings = <	&amt RBKT LBKT		>;	layers = <	1		>; 	};
		// mods ------------------------------------------------------------------------------------------------------------------------------------------
		cbo_shift_l  		{ timeout-ms = <20>; 	key-positions = < 3 13		>; 	bindings = <	&sk LSHIFT			>;  layers = <	0 1 2 3	>; 	};
		cbo_shift_r			{ timeout-ms = <20>; 	key-positions = < 6 16		>; 	bindings = <	&sk RSHIFT			>;  layers = <	0 1 2 3 >; 	};

		cbo_del_l			{ timeout-ms = <20>; 	key-positions = < 2 3		>; 	bindings = <	&amt LC(DEL) DEL	>; 	layers = <	0 1 2	>; 	};
		cbo_back_l			{ timeout-ms = <20>; 	key-positions = < 1 3		>; 	bindings = <	&amt RC(BSPC) BSPC	>;	layers = <	0 1 2	>; 	};
		cbo_esc_l			{ timeout-ms = <20>; 	key-positions = < 1 2 3		>; 	bindings = <	&amt LC(ESC) ESC	>;	layers = <	0 1 2	>; 	};
		cbo_enter_l			{ timeout-ms = <20>; 	key-positions = < 1 2		>; 	bindings = <	&amt LS(RET) RET	>; 	layers = <	0 1 2	>; 	};

		cbo_back_r			{ timeout-ms = <20>; 	key-positions = < 6 7		>; 	bindings = <	&amt RC(BSPC) BSPC	>; 	layers = <	0 1 2	>; 	};
		cbo_del_r			{ timeout-ms = <20>; 	key-positions = < 6 8		>;	bindings = <	&amt LC(DEL) DEL	>; 	layers = <	0 1 2	>; 	};
		cbo_esc_r			{ timeout-ms = <20>; 	key-positions = < 6 7 8		>; 	bindings = <	&amt RC(ESC) ESC	>; 	layers = <	0 1 2	>; 	};
		cbo_enter_r			{ timeout-ms = <20>; 	key-positions = < 7 8		>; 	bindings = <	&amt RS(RET) RET	>; 	layers = <	0 1 2	>; 	};
		// arrows ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_left 			{ timeout-ms = <20>; 	key-positions = < 10 6		>; 	bindings = <	&amt LC(LEFT)  LEFT	>; 	layers = <	0		>;	};
		cbo_up 				{ timeout-ms = <20>; 	key-positions = < 2 7		>;	bindings = <	&amt LC(UP)    UP	>; 	layers = <	0		>;	};
		cbo_down 			{ timeout-ms = <20>; 	key-positions = < 1 8		>;	bindings = <	&amt LC(DOWN)  DOWN	>; 	layers = <	0		>;	};
		cbo_right 			{ timeout-ms = <20>; 	key-positions = < 3 19		>; 	bindings = <	&amt LC(RIGHT) RIGHT>;	layers = <	0		>;	};
		// layers ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_default 		{ timeout-ms = <40>;	key-positions = < 2 3 6 7	>;	bindings = <	&to 0				>; 							};
		cbo_default_l 		{ timeout-ms = <40>;	key-positions = < 1 2 3	10 	>;	bindings = <	&to 0				>; 	layers = <	4 5 6	>;	};
		cbo_default_r 		{ timeout-ms = <40>;	key-positions = < 6 7 8 15	>;	bindings = <	&to 0				>; 	layers = <	4 5 6	>;	};
		cbo_fps_l 			{ timeout-ms = <40>; 	key-positions = < 11 12 13	>; 	bindings = <	&to 6				>; 							};
		cbo_qwer_l			{ timeout-ms = <40>; 	key-positions = < 10 13		>; 	bindings = <	&to 4				>; 							};
		cbo_fg_l            { timeout-ms = <40>; 	key-positions = < 10 14		>; 	bindings = <	&to 5				>; 							};
		cbo_fps_r 			{ timeout-ms = <40>; 	key-positions = < 16 17 18	>; 	bindings = <	&to 6				>; 							};
		cbo_qwer_r			{ timeout-ms = <40>; 	key-positions = < 15 18		>; 	bindings = <	&to 4				>; 							};
		cbo_fg_r            { timeout-ms = <40>; 	key-positions = < 15 19		>; 	bindings = <	&to 5				>; 							};
		
		cbo_fkeys_l			{ timeout-ms = <40>; 	key-positions = < 10 4		>; 	bindings = <	&sl 3				>; 	layers = <	0 1 2	>; 	};
		cbo_fkeys_r 		{ timeout-ms = <40>; 	key-positions = < 5 19		>; 	bindings = <	&sl 3				>; 	layers = <	0 1 2	>; 	};
		// special ---------------------------------------------------------------------------------------------------------------------------------------
		cbo_numword 		{ timeout-ms = <20>; 	key-positions = < 10 3		>; 	bindings = <	&num_word 1			>;  layers = <	0 1 2	>; 	};
		cbo_capsword 		{ timeout-ms = <20>; 	key-positions = < 6 19		>; 	bindings = <	&cmt CAPS 0			>;  layers = <	0 1 2	>; 	};
		cbo_dsktop_right	{ timeout-ms = <20>; 	key-positions = < 13 16		>; 	bindings = <	&kp LC(LG(RIGHT))	>;  layers = <	0 1 2	>; 	};
		cbo_dsktop_left		{ timeout-ms = <20>; 	key-positions = < 12 15		>; 	bindings = <	&kp LC(LG(LEFT))	>;  layers = <	0 1 2	>; 	};
		// game ------------------------------------------------------------------------------------------------------------------------------------------
		g_cbo_tab_l			{ timeout-ms = <50>; 	key-positions = < 1 3		>; 	bindings = <	&kp TAB				>; 	layers = <	4 5 6	>; 	};
		g_cbo_esc_l			{ timeout-ms = <50>; 	key-positions = < 1 2 3		>; 	bindings = <	&kp ESC				>; 	layers = <	4 5 6	>; 	};

		qwer_cbo_1_l 		{ timeout-ms = <75>; 	key-positions = < 1 11		>; 	bindings = <	&kp N1				>; 	layers = <	4		>; 	};
		qwer_cbo_2_l 		{ timeout-ms = <75>; 	key-positions = < 2 12		>; 	bindings = <	&kp N2				>; 	layers = <	4		>; 	};
		qwer_cbo_3_l 		{ timeout-ms = <75>; 	key-positions = < 3 13		>; 	bindings = <	&kp N3				>; 	layers = <	4		>; 	};
		qwer_cbo_4_l 		{ timeout-ms = <75>; 	key-positions = < 4 14		>; 	bindings = <	&kp N4				>; 	layers = <	4		>; 	};

		fps_cbo_1_l 		{ timeout-ms = <75>; 	key-positions = < 3 13		>; 	bindings = <	&kp N1				>; 	layers = <	6		>; 	};
		fps_cbo_2_l 		{ timeout-ms = <75>; 	key-positions = < 1 11		>; 	bindings = <	&kp N2				>; 	layers = <	6		>; 	};
		fps_cbo_b_l			{ timeout-ms = <50>; 	key-positions = < 12 13		>; 	bindings = <	&kp B				>; 	layers = <	6  >; 		};

		g_cbo_tab_r			{ timeout-ms = <50>; 	key-positions = < 6 8		>; 	bindings = <	&kp TAB				>; 	layers = <	4 5 6	>; 	};
		g_cbo_esc_r			{ timeout-ms = <50>; 	key-positions = < 6 7 8		>; 	bindings = <	&kp ESC				>; 	layers = <	4 5 6	>; 	};

		qwer_cbo_1_r 		{ timeout-ms = <75>; 	key-positions = < 6 16		>; 	bindings = <	&kp N1				>; 	layers = <	4		>; 	};
		qwer_cbo_2_r 		{ timeout-ms = <75>; 	key-positions = < 7 17		>; 	bindings = <	&kp N2				>; 	layers = <	4		>; 	};
		qwer_cbo_3_r 		{ timeout-ms = <75>; 	key-positions = < 8 18		>; 	bindings = <	&kp N3				>; 	layers = <	4		>; 	};
		qwer_cbo_4_r 		{ timeout-ms = <75>; 	key-positions = < 9 19		>; 	bindings = <	&kp N4				>; 	layers = <	4		>; 	};

		fps_cbo_1_r 		{ timeout-ms = <75>; 	key-positions = < 8 18		>; 	bindings = <	&kp N1				>; 	layers = <	6		>; 	};
		fps_cbo_2_r 		{ timeout-ms = <75>; 	key-positions = < 6 16		>; 	bindings = <	&kp N2				>; 	layers = <	6		>; 	};
		fps_cbo_b_r			{ timeout-ms = <50>; 	key-positions = < 17 18		>; 	bindings = <	&kp B				>; 	layers = <	6  >; }; }; };
