#include "fingermap.h"

/ { 
behaviors { // -----------------------------------------------------------------------------------------------
        hml: home_row_mod_l { 		hold-trigger-key-positions = <  >; 		};
		hmr: home_row_mod_r { 		hold-trigger-key-positions = <  >; 	 }; };
// -----------------------------------------------------------------------------------------------------------

keymap { compatible = "zmk,keymap";
		zero 	{ display-name = "base"; // -------------------
		    bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		one 	{ display-name = "sym"; // --------------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		two 	{ display-name = "nav"; // ------------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		three 	{ display-name = "fkey"; // -------------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		four 	{ display-name = "qwer"; // ----------------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		five 	{ display-name = "fg"; // -----------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; };
		six 	{ display-name = "fps"; // ------------------------
		bindings = < &none  &kp W  &kp E  &kp R  &kp T &kp Y  &kp U  &kp I    &kp O   &kp P 
                         &kp A  &kp S  &kp D  &kp F  &kp G &kp H  &kp J  &kp K     &kp L   &kp SEMI 
                         &kp Z  &kp X  &kp C  &kp V  &kp B &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH >; 
            sensor-bindings = < &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp RIGHT LEFT >; }; };

combos { compatible = "zmk,combos";
        // alphas ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_x 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp X				>;	layers = <	0		>; 	};
		cbo_q 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp Q				>;	layers = <	0		>; 	};
		cbo_p 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp P				>; 	layers = <	0		>; 	};
		cbo_z 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp Z				>;	layers = <	0		>; 	};
		cbo_j 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp J				>;	layers = <	0		>; 	};
		cbo_v 				{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&kp V				>;	layers = <	0		>; 	};
		// symbols ---------------------------------------------------------------------------------------------------------------------------------------
		u_cbo_left 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2190 0x2190	>; 	layers = <	1		>;	};
		u_cbo_up 			{ timeout-ms = <40>; 	key-positions = < 			>;	bindings = <	&uc 0x2191 0x2191	>; 	layers = <	1		>;	};
		u_cbo_down 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2193 0x2193	>; 	layers = <	1		>;	};
		u_cbo_right 		{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2192 0x2192	>;	layers = <	1		>;	};

		u_cbo_up_down		{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2195 0x2195	>; 	layers = <	1		>;	};
		u_cbo_left_right	{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2194 0x2194	>; 	layers = <	1		>;	};

		u_cbo_ne 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2197 0x2197	>; 	layers = <	1		>;	};
		u_cbo_se 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2198 0x2198	>; 	layers = <	1		>;	};
		u_cbo_sw 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2199 0x2199	>; 	layers = <	1		>;	};
		u_cbo_nw 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&uc 0x2196 0x2196	>; 	layers = <	1		>;	};

		u_cbo_skull 		{ timeout-ms = <40>; 	key-positions = < 	 	 	>; 	bindings = <	&uc 0x2620 0x2620	>;	layers = <	1		>;	};
		u_cbo_frown 		{ timeout-ms = <40>; 	key-positions = < 		 	>; 	bindings = <	&uc 0x2639 0x2639	>;	layers = <	1		>;	};
		// mods ------------------------------------------------------------------------------------------------------------------------------------------
		cbo_ctrl_l			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk LCTRL			>; 	layers = <	0 1 2 3	>; 	};
		cbo_gui_l			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk LGUI			>; 	layers = <	0 1 2 3	>; 	};
		cbo_shift_l  		{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk LSHIFT			>;  layers = <	0 1 2 3	>; 	};
		cbo_alt_l			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk LALT			>; 	layers = <	0 1 2 3	>; 	};

		cbo_alt_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk LALT			>; 	layers = <	0 1 2 3	>; 	};
		cbo_shift_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk RSHIFT			>;  layers = <	0 1 2 3 >; 	};
		cbo_gui_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk RGUI			>; 	layers = <	0 1 2 3	>; 	};
		cbo_ctrl_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&sk RCTRL			>; 	layers = <	0 1 2 3	>; 	};

		cbo_back_l			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt LC(BSPC) BSPC	>; 	layers = <	0 1 2	>; 	};
		cbo_del_l			{ timeout-ms = <20>; 	key-positions = <			>; 	bindings = <	&amt LC(DEL) DEL	>; 	layers = <	0 1 2	>; 	};
		cbo_tab_l			{ timeout-ms = <20>; 	key-positions = <			>; 	bindings = <	&tabmt 0 TAB		>;	layers = <	0 1 2	>; 	};
		cbo_esc_l			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt LC(ESC) ESC	>;	layers = <	0 1 2	>; 	};
		cbo_enter_l			{ timeout-ms = <20>; 	key-positions = <			>; 	bindings = <	&amt LS(RET) RET	>; 	layers = <	0 1 2	>; 	};

		cbo_back_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt RC(BSPC) BSPC	>; 	layers = <	0 1 2	>; 	};
		cbo_del_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt RC(DEL) DEL	>; 	layers = <	0 1 2	>; 	};
		cbo_tab_r			{ timeout-ms = <20>; 	key-positions = < 			>;	bindings = <	&tabmt 0 TAB		>; 	layers = <	0 1 2	>; 	};
		cbo_esc_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt RC(ESC) ESC	>; 	layers = <	0 1 2	>; 	};
		cbo_enter_r			{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&amt RS(RET) RET	>; 	layers = <	0 1 2	>; 	};
		// arrows ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_left 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&amt LC(LEFT)  LEFT	>; 	layers = <	0		>;	};
		cbo_up 				{ timeout-ms = <40>; 	key-positions = < 			>;	bindings = <	&amt LC(UP)    UP	>; 	layers = <	0		>;	};
		cbo_down 			{ timeout-ms = <40>; 	key-positions = < 			>;	bindings = <	&amt LC(DOWN)  DOWN	>; 	layers = <	0		>;	};
		cbo_right 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&amt LC(RIGHT) RIGHT>;	layers = <	0		>;	};
		// layers ----------------------------------------------------------------------------------------------------------------------------------------
		cbo_default 		{ timeout-ms = <40>;	key-positions = < 			>;	bindings = <	&to 0				>; 							};
		cbo_default_l 		{ timeout-ms = <40>;	key-positions = < 	 		>;	bindings = <	&to 0				>; 	layers = <	4 5 6	>;	};
		cbo_fps 			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&to 6				>; 							};
		cbo_qwer			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&to 4				>; 							};
		cbo_minecraft		{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&to 5				>; 							};
		
		cbo_fkeys_l			{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&sl 3				>; 	layers = <	0 1 2	>; 	};
		cbo_fkeys_r 		{ timeout-ms = <40>; 	key-positions = < 			>; 	bindings = <	&sl 3				>; 	layers = <	0 1 2	>; 	};
		// special ---------------------------------------------------------------------------------------------------------------------------------------
		cbo_numword 		{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&num_word 1			>;  layers = <	0 1 2	>; 	};
		cbo_capsword 		{ timeout-ms = <20>; 	key-positions = < 			>; 	bindings = <	&cmt CAPS 0			>;  layers = <	0 1 2	>; 	};
		// game ------------------------------------------------------------------------------------------------------------------------------------------
		g_cbo_tab 			{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&kp TAB				>; 	layers = <	4 5 6	>; 	};
		g_cbo_esc 			{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&kp ESC				>; 	layers = <	4 5 6	>; 	};

		g_cbo_1 			{ timeout-ms = <75>; 	key-positions = < 			>; 	bindings = <	&kp N1				>; 	layers = <	6		>; 	};
		g_cbo_2 			{ timeout-ms = <75>; 	key-positions = < 			>; 	bindings = <	&kp N2				>; 	layers = <	6		>; 	};
		g_cbo_3 			{ timeout-ms = <75>; 	key-positions = < 			>; 	bindings = <	&kp N3				>; 	layers = <	6		>; 	};
		g_cbo_4 			{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&kp N4				>; 	layers = <	6		>; 	};
		g_cbo_spsft			{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&gamespaceshift		>; 	layers = <	6		>; 	};
		g_cbo_b				{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&kp B				>; 	layers = <	6		>; 	};

		g_cbo_lalt 			{ timeout-ms = <50>; 	key-positions = < 			>; 	bindings = <	&sk LALT 			>; 	layers = <	4  >; }; }; };
