manifest:
  remotes:
    - name: zmk
      url-base: https://github.com/zmkfirmware
    - name: urob
      url-base: https://github.com/urob
    - name: newx-it
      url-base: https://github.com/newx-it
    - name: nguyendown
      url-base: https://github.com/nguyendown
  projects:
    - name: zmk
      remote: zmk
      revision: v0.3
      import: app/west.yml
    - name: zmk-auto-layer
      remote: urob
      revision: v0.3 # set to same version as zmk above
    - name: zmk-adaptive-key
      remote: urob
      revision: v0.3 # set to same as ZMK version above
    - name: zmk-unicode
      remote: urob
      revision: v0.3
    - name: zmk-nice-oled
      remote: newx-it
      revision: main
    - name: zmk-behavior-socd
      remote: nguyendown
      revision: main
  self:
    path: config
